<% provide(:title, "Про нас") %>
<div class="jumbotron">
<p class="about">
  <strong>ONPU.EDUCATION</strong> — сервис для студентов Одесского национального политехнического университета, предназначенный для удалённого обучения.
  <br>Регистрация на сайте доступна по пригласительному коду, который вы можете получить у старосты своей группы или у куратора.
</p>
</div>
